<html>
  <head>
    <title>Aaron's Sample "Hello, World" Application</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
    <script data-main="js/main" src="js/require.js"></script>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
   
    <h1>Aaron's Sample "Hello, World" Application</h1>
    <div><img class="myImage" src="images/sun.jpg"></div>

    <p>This is the home page for the HelloWorld Web application. </p>
    <p>To prove that they work, script will append something in following div:
    <div class="test"></div>

  </body>
</html>
